openapi: 3.2.0
info:
  title: Hm Land Registry Submit an application API
  version: '1.0'
  description: 'Operations tagged Submit an application API across 2 of this provider''s published API definitions: hm-land-registry-submit-application-to-change-the-register-v0.3-openapi.json, hm-land-registry-submit-application-to-change-the-register-v1.0-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://businessgateway.landregistry.gov.uk/bg2/api
  description: Production
- url: https://bgtest.landregistry.gov.uk/bg2test/api
  description: Stub
security:
- basicAuth: []
tags:
- name: Submit an application API
paths:
  /v0/applications:
    post:
      description: Submit an application API - Submit application creation requests for processing
      operationId: Submit an application API
      parameters:
      - in: header
        name: Idempotency-Key
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubstantiveApplication'
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationCreationDataResponse'
          description: Application creation request accepted
          headers:
            Location:
              description: Get application creation status URI for checking status
              schema:
                type: string
              style: simple
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request due to payload not meeting the required schema
        '401':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorised - an access token is required
        '500':
          description: Internal Server Error
      tags:
      - Submit an application API
      summary: Submit an application API
      x-summary-source: derived
    servers:
    - url: https://businessgateway.landregistry.gov.uk/bg2/api
      description: Production
    - url: https://bgtest.landregistry.gov.uk/bg2test/api
      description: Stub
  /v1/applications:
    post:
      summary: Submit an application
      description: Submit an application API - Submit application creation requests for processing
      operationId: submit_an_application_to_change_the_register_v1
      parameters:
      - in: header
        name: Idempotency-Key
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubstantiveApplication'
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationCreationDataResponse'
          description: Application creation request accepted
          headers:
            Location:
              description: Get application creation status URI for checking status
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request due to payload not meeting the required schema
        '401':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorised - an access token is required
        '500':
          description: Internal Server Error
      tags:
      - Submit an application API
    servers:
    - url: https://businessgateway.landregistry.gov.uk/bg2/api
      description: Production
    - url: https://bgtest.landregistry.gov.uk/bg2test/api
      description: Stub
components:
  schemas:
    ProblemDetails:
      required:
      - detail
      - type
      description: Detailed information about an error
      type: object
      properties:
        type:
          type: string
          description: The type of error received
          example: L2_MDREF_ERROR
        detail:
          type: string
          description: A longer description about the type of error received
          example: The MDref included in the request does not exist
        pointer:
          type: string
          description: A JSON pointer to the location in the JSON payload that caused the error (optional)
          example:
          - /data/transaction/t1/mdref
    Address:
      required:
      - details
      type: object
      description: An object containing an address, where the address details may be one of multiple types
      properties:
        details:
          oneOf:
          - $ref: '#/components/schemas/BfpoAddress'
          - $ref: '#/components/schemas/DxAddress'
          - $ref: '#/components/schemas/EmailAddress'
          - $ref: '#/components/schemas/OverseasAddress'
          - $ref: '#/components/schemas/PoBoxAddress'
          - $ref: '#/components/schemas/UkAddress'
    Charge:
      required:
      - date
      - value
      type: object
      description: A TransactionDetails object to capture information about a charge
      allOf:
      - $ref: '#/components/schemas/TransactionDetails'
      - type: object
        properties:
          date:
            description: The date of the charge, in the format yyyy-MM-dd
            type: string
            format: date
          mdref:
            maxLength: 10
            minLength: 0
            description: The unique MD reference given to the mortgage
            type: string
            example: MD123A
          value:
            type: integer
            description: The total charge amount for all titles in pounds
            format: int32
    AddressDetails:
      type: object
      description: The details captured for a specific address. Details differ depending on type
      required:
      - type
      properties:
        type:
          type: string
          enum:
          - UK
          - OVERSEAS
          - EMAIL
          - DX
          - BFPO
          - PO_BOX
      discriminator:
        propertyName: type
    SubstantiveApplicationData:
      required:
      - applicants
      - customer_reference
      - application_lodger
      - submission_warning_understood
      - titles
      - transactions
      - type
      type: object
      description: The data required to capture an application
      properties:
        addresses:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Address'
          description: A map of address references to addresses
        submission_warning_understood:
          type: boolean
          description: 'Setting this value to true notes you have understood the following: <br>**WARNING** <br>If you dishonestly enter information or make a statement that you know is, or might be, untrue or misleading, and intend by doing so to make a gain for yourself or another person, or to cause loss or the risk of loss to another person, you may commit the offence of fraud under section 1 of the Fraud Act 2006, the maximum penalty for which is 10 years’ imprisonment or an unlimited fine, or both. <br>Failure to complete this form with proper care may result in a loss of protection under the Land Registration Act 2002 if, as a result, a mistake is made in the register.  <br>Under section 66 of the Land Registration Act 2002 most documents (including this form) kept by the registrar relating to an application to the registrar or referred to in the register are open to public inspection and copying. If you believe a document contains prejudicial information, you may apply for that part of the document to be made exempt using Form EX1, under rule 136 of the Land Registration Rules 2003'
        applicants:
          type: array
          description: The party or parties who the application is being submitted for
          minItems: 1
          items:
            $ref: '#/components/schemas/PartyReference'
        bypass_validation:
          type: array
          description: A list of bypasses, for when a user disagrees with validation errors
          items:
            $ref: '#/components/schemas/BypassValidationData'
        customer_reference:
          maxLength: 25
          minLength: 0
          type: string
          description: A short name/reference a customer has given to the application
          example: anything_you_like_or_need
        documents:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/DocumentDetails'
          description: A map of document references to documents
        jp1_reference:
          type: string
          description: The JP1 reference to use when removing a JP1 restriction
          minLength: 7
          maxLength: 7
          pattern: ^([a-zA-Z0-9]*)$
        application_lodger:
          $ref: '#/components/schemas/ApplicationLodger'
        parties:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Party'
          description: A map of party references to parties
        titles:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/TitleDetails'
          description: A map of title references to titles
        transactions:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Transaction'
          description: A map of title references to titles
        type:
          type: string
          description: The type of application to submit
          enum:
          - REGISTER_UPDATE
          - TRANSFER_OF_PART
          - DISPOSITIONARY_FIRST_LEASE
          - REMOVE_JP1
        additional_provider_filter:
          maxLength: 50
          minLength: 0
          pattern: ^\w*$
          type: string
          description: A value that can be used to subsequently retrieve request responses based upon high level grouping
    OtherOrganisation:
      required:
      - organisation_name
      type: object
      description: A party object to capture infomation about an other organisation
      allOf:
      - $ref: '#/components/schemas/PartyDetails'
      - type: object
        properties:
          organisation_name:
            maxLength: 366
            minLength: 0
            type: string
            description: Full name registered at Companies House or Company name as incorporated in its state of origin
    DocumentReference:
      maxLength: 50
      minLength: 1
      pattern: ^[A-Za-z0-9-?,_]+$
      type: string
      description: Unique identifier for documents, used to reference documents from elsewhere in the spec
      example: signed_charge
    Discharge:
      required:
      - discharge_submission_type
      type: object
      description: A TransactionDetails object to capture information about a discharge
      allOf:
      - $ref: '#/components/schemas/TransactionDetails'
      - type: object
        properties:
          discharge_submission_type:
            type: string
            description: 'How the discharge will be submitted:

              * ATTACHED - The discharge is submitted with this application

              * LENDER - The lender will submit the discharge

              * LATER - The discharge will be submitted later'
            enum:
            - ATTACHED
            - LENDER
            - LATER
    OtherConveyancer:
      required:
      - full_name
      - registered_address
      - conveyancer_reference
      type: object
      description: Information about another conveyancer (who is not the lodging conveyancer) representing a party on the application
      properties:
        conveyancer_reference:
          maxLength: 25
          minLength: 0
          type: string
          description: The conveyancer's reference
          example: party_1
        full_name:
          maxLength: 200
          minLength: 0
          type: string
          description: The conveyancer's full name
          example: John Doe
        registered_address:
          maxLength: 500
          minLength: 0
          type: string
          description: The conveyancer's registered address
          example: 123 Green St., Made Up, MU1 2AB, UK
    AddressForServiceOption:
      type: string
      description: '* `PROVIDED_ADDRESS` - The address for service has been provided alongside this option

        * `NOT_REQUIRED` - The address for service is not required for the party'
      enum:
      - PROVIDED_ADDRESS
      - NOT_REQUIRED
    TitleDetails:
      required:
      - scope_details
      - title_number
      - title_type
      - disclosable_overriding_interests
      type: object
      description: Information about a HM Land Registry title
      properties:
        disclosable_overriding_interests:
          type: boolean
          description: Are there any disclosable overriding interests for the title
        scope_details:
          $ref: '#/components/schemas/TitleScopeDetails'
        title_number:
          maxLength: 9
          minLength: 0
          pattern: ^[A-Z]{0,3}[0-9]{1,6}[ZT]?$
          type: string
          description: The HM Land Registry title number
        title_type:
          type: string
          description: '* `REGISTER_TITLE` - Any titles on REGISTER_UPDATE or REMOVE_JP1 application types

            * `TRANSFEROR_TITLE` - Titles related to the transferor (TRANSFER_OF_PART applications only)

            * `LANDLORD_TITLE` - Titles related to the landlord (DISPOSITIONARY_FIRST_LEASE applications only)

            * `TENANT_TITLE` - The title related to the tenant on a DISPOSITIONARY_FIRST_LEASE application which is a lease extension.

            * `ADDITIONAL_TITLE` - Any other titles on TRANSFER_OF_PART or DISPOSITIONARY_FIRST_LEASE applications'
          enum:
          - REGISTER_TITLE
          - TRANSFEROR_TITLE
          - ADDITIONAL_TITLE
          - LANDLORD_TITLE
          - TENANT_TITLE
    PartyRole:
      required:
      - role
      - party_reference
      type: object
      description: Information about the roles and capacities for a specific party
      properties:
        capacity:
          type: string
          description: 'This enum describes the capacity in which a party is acting in a transaction. The possible values are:

            * `REGISTERED_PROPRIETOR` - The party is acting as a registered proprietor.

            * `ENTITLED_REGISTERED_PROPRIETOR` - The party is acting as entitled to be registered as the proprietor.

            * `ADDITIONAL_TRUSTEE` - The party is acting as an additional trustee.

            * `INSOLVENCY_PRACTITIONER` - The party is acting as an insolvency practitioner.

            * `RECEIVER` - The party is acting as receiver.

            * `DEPUTY` - The party is acting as a deputy.

            * `GUARDIAN` - The party is acting as a guardian.

            * `PERSONAL_REPRESENTATIVE` - The party is acting as a personal representative.

            * `NOT_REQUIRED` - Capacity is not required for the party role (at time of capture by land registry policy).

            * `null` - The capacity value is not known for the party.

            '
          enum:
          - REGISTERED_PROPRIETOR
          - ENTITLED_REGISTERED_PROPRIETOR
          - ADDITIONAL_TRUSTEE
          - INSOLVENCY_PRACTITIONER
          - RECEIVER
          - DEPUTY
          - GUARDIAN
          - PERSONAL_REPRESENTATIVE
          - NOT_REQUIRED
        party_reference:
          $ref: '#/components/schemas/PartyReference'
        role:
          type: string
          description: The role the party is performing on the transaction
          enum:
          - ATTORNEY
          - TRANSFEROR
          - TRANSFEREE
          - LENDER
          - BORROWER
          - PERSONAL_REPRESENTATIVE
          - ASSENTOR
          - LANDLORD
          - TENANT
    PrivateIndividual:
      required:
      - surname
      type: object
      description: A party object to capture infomation about a private individual
      allOf:
      - $ref: '#/components/schemas/PartyDetails'
      - type: object
        properties:
          forenames:
            maxLength: 366
            minLength: 0
            type: string
            description: Forenames of a private individual
            example: John
          surname:
            maxLength: 366
            minLength: 0
            type: string
            description: The surname of a private individual
            example: Doe
    UKCompany:
      required:
      - company_number
      - organisation_name
      type: object
      description: A party object to capture infomation about an UK company
      allOf:
      - $ref: '#/components/schemas/PartyDetails'
      - type: object
        properties:
          company_number:
            maxLength: 30
            minLength: 0
            type: string
            description: The UK Company Number or UK LLC number
          organisation_name:
            maxLength: 366
            minLength: 0
            type: string
            description: Full name registered at Companies House or Company name as incorporated in its state of origin
    Transaction:
      required:
      - fee_in_pence
      - type
      - priority
      type: object
      description: The object representing a transaction to apply to specific titles on the application
      properties:
        details:
          oneOf:
          - $ref: '#/components/schemas/AmountDetails'
          - $ref: '#/components/schemas/Charge'
          - $ref: '#/components/schemas/Discharge'
          - $ref: '#/components/schemas/Transfer'
        documents:
          type: array
          description: List of document references that are linked to this transaction
          items:
            $ref: '#/components/schemas/DocumentReference'
        priority:
          maximum: 20
          minimum: 1
          type: integer
          description: The priority application the transactions should be processed in. Multiple transactions cannot have the same priority.
          format: int32
        fee_in_pence:
          type: integer
          minimum: 0
          format: int32
          description: The fee (in pence) for the transaction
        relates_to_new_title:
          type: boolean
          default: false
          description: Indicates if the transaction applies to the new title number that is created during application processing. Applies only for TRANSFER_OF_PART and DISPOSITIONARY_FIRST_LEASE application types.
        party_roles:
          type: array
          description: A list of roles/capacities for each party relating to the transaction
          items:
            $ref: '#/components/schemas/PartyRole'
        type:
          type: string
          description: The HM Land Registry transaction type code
          enum:
          - ADV1
          - ADV2
          - AGN
          - APLC
          - APLCO
          - APLM
          - APR
          - APT
          - ASSTTP
          - ASTC
          - ASTT
          - ATP
          - AUN
          - BKN
          - BKR
          - C
          - CAG
          - CANI
          - CANR
          - CANU
          - CBKN
          - CBKR
          - CCT
          - CH2
          - CH3
          - CHOA
          - CHOU
          - CHR
          - CN
          - CNC
          - CNL
          - COA
          - COAC
          - CON
          - COP
          - CPD
          - CPVK
          - CPVU
          - CTD
          - CUR
          - DB
          - DCLN
          - DCLV
          - DFL1
          - DFL3
          - DFL4
          - DFL5
          - DFT
          - DIS
          - DJP
          - DL
          - DMR
          - DOG
          - DP
          - DSP
          - DTL
          - EXR
          - HR
          - JP1
          - LCATCO
          - LCBD
          - LCBET
          - LCBN
          - LCF
          - LCMRE
          - LCOE
          - LCOF
          - LCSD
          - LCSDM
          - LCSOL
          - LCSOLM
          - LCSDWT
          - LCSDMWT
          - MDR
          - NCT
          - NDC
          - NFR
          - NOE
          - NOL
          - NPR
          - NRT
          - PC
          - PER
          - PRO
          - RC
          - RFN
          - RHR
          - ROCA
          - ROCC
          - ROCU
          - RNT
          - ROE
          - RRD
          - RTM
          - RUN
          - RXL
          - RXN
          - RXS
          - SBC
          - SHO
          - SJT
          - STVC
          - STVL
          - T
          - TNV
          - TNVTP
          - TOC
          - TOSNV
          - TOSNVTP
          - TOSTP
          - TOSV
          - TPS
          - TPSTP
          - TRC
          - TRM
          - TSCNV
          - TSCNVTP
          - TSCTP
          - TSCV
          - TTP
          - TVR
          - TVRTP
          - UNN
          - UPT
          - VC
          - VLAN
          - VLAP
          - VLUN
          - VO
          - VOC
          - VOCA
          - VOCU
          - VOE
          - VOEA
          - VOEU
          - WCT
          - WDR
        title_references:
          type: array
          description: A list of titles that affect or relate to this transaction
          items:
            maxLength: 9
            minLength: 0
            type: string
          minItems: 1
          maxItems: 2147483647
    DocumentDetails:
      required:
      - document_id
      - document_metadata
      - type
      type: object
      description: The details about an uploaded document
      properties:
        companies_house_certification:
          type: boolean
          description: 'Required when document is of type `CERT_REG_CH`.

            Supplying a value of `true` means the customer confirms that the charge lodged here

            * has been filed at Companies House

            * related to the accompanying certificate of registration.'
        document_id:
          type: string
          description: The id of the document from the document upload request
          example: 12345678-1234-1234-1234-123456789abc
        document_metadata:
          $ref: '#/components/schemas/DocumentMetadata'
        type:
          type: string
          description: The HM Land Registry document type
          enum:
          - ABSTRACT
          - ACKAPU
          - ADJAR
          - ADJREVU
          - ADMIN_LTRS
          - ADV1
          - ADV2
          - AGREEMENT
          - AMS1
          - AN1
          - AP1
          - APPL_FRM
          - APPOINTMENT_OF_TRUSTEE
          - AS1
          - AS2
          - AS3
          - ASSENT
          - ASSIGNMENT
          - BIRTH_CERT
          - BOUND_PLAN
          - CC
          - CCD
          - CERT_CON_CH
          - CERT_DEATH
          - CERT_REG_CH
          - CERT_S89
          - CH1
          - CH2
          - CH3
          - CHARGE
          - CHARG_ORD
          - CIVIL_CERT
          - CM2
          - CM5
          - CM6
          - CN1
          - CNFRM_DTMN_LTA_LGHA
          - CNFRM_NO_DEED_SUR
          - CNFRM_NO_LTA_LGHA
          - CNSNT_ADMIN_COURT
          - COMP_DOC
          - CONSENT
          - CONST_COMP
          - CONTR_RES
          - CONVEYANCE
          - CONV_CERT
          - CONV_CERT_DEATH
          - CORRES
          - COR_CERT
          - COSR
          - COURT_ORD
          - CRALIQ
          - CRED_DEC
          - CRED_RES
          - CRT_FORM_7
          - CRWALIQ
          - DB
          - DEATH_CERT
          - DEC_AB_NULL_MARR
          - DEED
          - DEED_POLL
          - DEED_REG_DIS
          - DEED_SUR
          - DISCHARGE
          - DJP
          - DL
          - DOP
          - DRIVING_LICENCE
          - DS1
          - DS2
          - DS3
          - DS3_SHORT
          - EOB
          - EOL
          - EVD_NO_RENEW
          - EVIDENCE
          - EV_OV_NAME_CHANGE
          - EX1
          - EX1A
          - FORM_600
          - FORM_600CH
          - FORM_DI
          - FORM_JO
          - FR1
          - GENDER_CERT
          - GVD
          - HR1
          - HR2
          - HR4
          - ID1
          - ID2
          - ID3
          - ID4
          - ID5
          - ID_EV
          - ID_FRM
          - INDENTURE
          - JP1
          - K17_OR_K18
          - K20
          - K22
          - K3
          - K4
          - LEASE
          - LICENCE
          - LIQ01
          - LIQ_CERT_1
          - LIQ_CERT_2
          - LIQ_CERT_3
          - LNDLD_CNSNT
          - LONP
          - LR_CORRES
          - LTT
          - MARR_CERT
          - MEMO
          - MORD
          - MRTG_DEED
          - NOD
          - ORD_DISS_NULL_CP
          - PASSPORT
          - PLAN
          - POA
          - PROBATE
          - PSS1
          - REVERS_INT
          - RN
          - RX1
          - RX2
          - RX3
          - RX4
          - RXC
          - RXCD
          - SC
          - SDLT
          - SEV
          - SHRF_RTN
          - SIDE_LTR
          - SOT
          - SSALIQ
          - STAT_DEC
          - SUB_CHARGE
          - TP1
          - TP2
          - TR1
          - TR2
          - TR4
          - TRANSFER
          - TRUSTEE_RESOLUTION
          - UN1
          - UN2
          - UN3
          - UN4
          - UT1
          - VAR_CHARGE
          - VAR_COV
          - VAR_EAS
          - VAR_LEASE
          - VESTING_ORDER
          - WCT
          - WINDING_UP
          - WIT_STATE
    BypassValidationData:
      required:
      - comment
      - reason
      - validation_pointer
      - validation_type
      type: object
      description: Fields to describe which validators to bypass and why
      properties:
        validation_type:
          maxLength: 250
          minLength: 1
          description: The type of validation to bypass. Should match the 'type' returned within a status API error
          type: string
        validation_pointer:
          maxLength: 250
          minLength: 1
          description: A JSON pointer to the field in the submission payload to bypass the validation on. Should match the 'pointer' returned within a status API error
          type: string
          example: /data/customer_reference
        reason:
          type: string
          description: The reason the validation is being bypassed
          enum:
          - DISAGREE_WITH_REGISTER
          - HMLR_DATA_INCORRECT_OR_OUTDATED
          - EXCEPTION_NOT_COVERED_BY_BUSINESS_RULES
        comment:
          maxLength: 250
          minLength: 1
          description: A user inputted description of why the validation is being bypassed
          type: string
    UnknownParty:
      required:
      - freeformat_name
      type: object
      description: A party object to capture infomation about an unknown party
      allOf:
      - $ref: '#/components/schemas/PartyDetails'
      - type: object
        properties:
          freeformat_name:
            maxLength: 366
            minLength: 0
            type: string
            description: The name of the party, when type is UNKNOWN
    ValueBand:
      required:
      - lower_value_band
      type: object
      description: "A range the value of the transaction falls between. Valid bands are:\n* `0 - 100000`\n * `100001 - 200000\n* `200001 - 500000`\n* `500001 - 1000000`\n* `1000001 +`"
      properties:
        lower_value_band:
          minimum: 1
          type: integer
          format: int32
          description: The lower value in the band in pounds
        upper_value_band:
          minimum: 100000
          type: integer
          format: int32
          description: The upper value in the band in pounds. Not required when lower_value_band equals 1000001
    Party:
      required:
      - details
      - address_for_service_option
      - representation_type
      type: object
      description: A person or entity that has a role in an transaction
      properties:
        address_for_service_option:
          $ref: '#/components/schemas/AddressForServiceOption'
        addresses:
          type: array
          description: A list of address references for the party
          items:
            $ref: '#/components/schemas/AddressReference'
        identity_evidence_type:
          type: string
          description: "Required when `representation_type` is `NOT_REPRESENTED`\n* `EVIDENCE` - I have attached evidence of their identity with this application\n* `VERIFIED` - I am satisfied that sufficient steps have been taken to verify their identity and that they are the registered proprietor or have the right to be registered as the proprietor \n* `NOT_REQUIRED` - I don’t need to provide evidence of ID"
          enum:
          - EVIDENCE
          - VERIFIED
          - NOT_REQUIRED
        other_conveyancer:
          $ref: '#/components/schemas/OtherConveyancer'
        register_action:
          type: string
          description: '* `AMEND` - The party information is different to the currently held register information

            * `REMOVE` - The party on the register should be removed'
          enum:
          - AMEND
          - REMOVE
        representation_type:
          type: string
          description: 'The type of representation the party has.

            * `LODGING_CONVEYANCER` - The conveyancer lodging the application.

            * `OTHER_CONVEYANCER` - The party is represented by another conveyancer. Details will be included with the application.

            * `NOT_REPRESENTED` - The party is not represented by a conveyancer and identity evidence has been provided

            * `NOT_REQUIRED` - The party is not required to have a representation type.'
          enum:
          - LODGING_CONVEYANCER
          - OTHER_CONVEYANCER
          - NOT_REPRESENTED
          - NOT_REQUIRED
        details:
          type: object
          oneOf:
          - $ref: '#/components/schemas/OtherOrganisation'
          - $ref: '#/components/schemas/OverseasCompany'
          - $ref: '#/components/schemas/PrivateIndividual'
          - $ref: '#/components/schemas/UKCompany'
          - $ref: '#/components/schemas/UnknownParty'
    OverseasAddress:
      type: object
      description: The address of a premise outside the UK
      required:
      - country
      allOf:
      - $ref: '#/components/schemas/AddressDetails'
      - type: object
        properties:
          care_of_name:
            maxLength: 200
            minLength: 0
            type: string
            description: The care of name to address correspondence to
          country:
            maxLength: 35
            minLength: 0
            type: string
            description: The country the address resides in
          line1:
            maxLength: 35
            minLength: 0
            type: string
            description: The first line of the address, may differ per country/region
          line2:
            maxLength: 35
            minLength: 0
            type: string
            description: The second line of the address, may differ per country/region
          line3:
            maxLength: 35
            minLength: 0
            type: string
            description: The third line of the address, may differ per country/region
          line4:
            maxLength: 35
            minLength: 0
            type: string
            description: The fourth line of the address, may differ per country/region
          line5:
            maxLength: 35
            minLength: 0
            type: string
            description: The fifth line of the address, may differ per country/region
    ApplicationCreationResponse:
      type: object
      description: The response from the application submission endpoint
      properties:
        application_request_id:
          type: string
          description: The ID of the application submission request
          example: 12345678-1234-1234-1234-123546789abc
    TransactionDetails:
      required:
      - type
      type: object
      description: Details of the transaction that apply to all transaction types
      properties:
        type:
          type: string
          description: The overall type of the transaction (Transfer, Charge, Discharge, Amount)
      discriminator:
        propertyName: type
    TitleScopeDetails:
      required:
      - scope
      type: object
      description: The scope of the title that is being updated
      properties:
        part_description:
          maxLength: 100
          minLength: 0
          type: string
          description: A description of the part of the title being updated
          example: red outlined area
        scope:
          type: string
          description: '* `WHOLE` - The whole of the title

            * `PART` - Part of the title'
          enum:
          - WHOLE
          - PART
    SubstantiveApplication:
      required:
      - data
      type: object
      description: The request to submit an application to HM Land Registry
      properties:
        data:
          $ref: '#/components/schemas/SubstantiveApplicationData'
    EmailAddress:
      required:
      - email
      type: object
      description: An object containing the email address of the customer
      allOf:
      - $ref: '#/components/schemas/AddressDetails'
      - type: object
        properties:
          email:
            maxLength: 254
            minLength: 0
            type: string
            description: The email address of the customer
    BfpoAddress:
      description: A British Forces Post Office address
      required:
      - number
      - service_number_rank
      - unit_regiment
      type: object
      allOf:
      - $ref: '#/components/schemas/AddressDetails'
      - type: object
        properties:
          care_of_name:
            maxLength: 200
            minLength: 0
            type: string
            description: The care of name to address correspondence to
          number:
            maxLength: 10
            minLength: 0
            type: string
            description: The BPFO number for the address
          service_number_rank:
            maxLength: 35
            minLength: 0
            type: string
            description: The service number of the personnel
          unit_regiment:
            maxLength: 35
            minLength: 0
            type: string
            description: The unit or regiment of the personnel
    DocumentMetadata:
      required:
      - certification_statement_type
      - document_filename
      type: object
      description: Metadata about the document that was uploaded
      properties:
        certification_statement_type:
          type: string
          description: '* `CERTIFIED` - I/we certify this is a true copy of an original document

            * `CERTIFIED_BY_ANOTHER` - I/we certify this document is a true copy of an original document which is certified by a conveyancer to be a true copy of the original

            * `NOT_CERTIFIED` - This document is an uncertified copy '
          enum:
          - CERTIFIED
          - CERTIFIED_BY_ANOTHER
          - NOT_CERTIFIED
        document_filename:
          maxLength: 255
          minLength: 0
          description: The filename of the document
          type: string
          example: thedeed.pdf
    Transfer:
      required:
      - additional_provisions_code
      - consideration_type
      - date
      - title_guarantee_code
      type: object
      description: Details about a transfer transaction
      allOf:
      - $ref: '#/components/schemas/TransactionDetails'
      - type: object
        properties:
          additional_provisions:
            type: string
            description: The provided additional provisions
          additional_provisions_code:
            type: string
            description: '* `NO_PROVISIONS` - There are no additional provisions

              * `MANUAL_TR1_FORM` - The details of the additional provision are on the TR1 form

              * `DETAILS_ENTERED` - The details have been provided with the submission'
            enum:
            - NO_PROVISIONS
            - MANUAL_TR1_FORM
            - DETAILS_ENTERED
          consideration_description:
            maxLength: 200
            minLength: 0
            type: string
            description: The consideration, when a consideration_type of OTHER is specified
          consideration_type:
            type: string
            description: '* `MONETARY_VALUE` - The sum received by the transferor from the transferee for the property

              * `NO_MONETARY_VALUE` - The transfer is not for money or anything that has a monetary value

              * `OTHER` - to be specified in consideration_description'
            enum:
            - MONETARY_VALUE
            - NO_MONETARY_VALUE
            - OTHER
          date:
            type: string
            format: date
            description: The date of the transfer, in the format yyyy-MM-dd
          title_guarantee_code:
            type: string
            description: '* `FULL` - the transferor(s) guarantee, to the best of their knowledge, that there are no financial charges/encumbrances (such as mortgages) or other third party interests (such as rights of way/leases) which affect the property other than those already revealed to the transferee(s).

              * `LIMITED` - a more restricted set of promises by the transferor(s). This guarantees that the transferor(s) have not themselves created, or allowed to be created, any charge, encumbrance or third party interest that still exists at the date of the transfer'
            enum:
            - FULL
            - LIMITED
          trust_declaration_type:
            type: string
            description: '* `JOINT_TENANTS` - The transferees are joint tenants.

              * `TENANTS_IN_COMMON` - The transferees are tenants in common

              * `TRUST_DETAILS` - Details of the trust declaration will be provided in the application

              * `FORM_JO` - The trust details will be provided in an attached FormJO document'
            enum:
            - JOINT_TENANTS
            - TENANTS_IN_COMMON
            - TRUST_DETAILS
            - FORM_JO
          trust_details:
            maxLength: 300
            minLength: 0
            type: string
            description: Details of the trust declaration, to be provided when trust_declaration_type is TRUST_DETAILS
          value:
            minimum: 0
            type: integer
            format: int32
            description: Transaction value of the equity being transferred (including VAT if applicable) in pounds
          value_band:
            $ref: '#/components/schemas/ValueBand'
          full_value_of_property_band:
            $ref: '#/components/schemas/ValueBand'
          full_value_of_property:
            type: integer
            format: int32
            description: Full value of the property in the title(s) in pounds
          outstanding_charge:
            type: integer
            format: int32
            description: Value in pounds of any outstanding charge if applicable
    ApplicationCreationDataResponse:
      type: object
      description: The response wrapper from the application submission request
      properties:
        data:
          $ref: '#/components/schemas/ApplicationCreationResponse'
    DxAddress:
      required:
      - exchange_name
      - number
      type: object
      description: A document exchange address
      allOf:
      - $ref: '#/components/schemas/AddressDetails'
      - type: object
        properties:
          care_of_name:
            maxLength: 200
            minLength: 0
            type: string
            description: The care of name to address correspondence to
          exchange_name:
            maxLength: 20
            minLength: 0
            type: string
            description: The DX exchange
          number:
            maxLength: 10
            minLength: 0
            type: string
            description: The DX number
    AddressReference:
      maxLength: 50
      minLength: 1
      pattern: ^[A-Za-z0-9-?,_]+$
      type: string
      description: Unique identifier for addresses, used to reference addresses from elsewhere in the spec
      example: property address
    PartyReference:
      maxLength: 50
      minLength: 1
      pattern: ^[A-Za-z0-9-?,_]+$
      type: string
      description: Unique identifier for parties, used to reference parties from elsewhere in the spec
      example: customer
    UkAddress:
      type: object
      description: A UK postal address
      required:
      - postcode
      - post_town
      - building_description
      allOf:
      - $ref: '#/components/schemas/AddressDetails'
      - type: object
        properties:
          building_description:
            maxLength: 85
            minLength: 0
            type: string
            description: Name of residential or commercial premise
          care_of_name:
            maxLength: 200
            minLength: 0
            type: string
            description: The care of name to address correspondence to
          department_name:
            maxLength: 60
            minLength: 0
            type: string
            description: Used to supplement Organisation Name to identify a department within the organisation
          dependent_locality:
            maxLength: 35
            minLength: 0
            type: string
            description: Used when the same thoroughfare or street name reoccurs in a Post town
          dependent_street:
            maxLength: 80
            minLength: 0
            type: string
            description: Used to supplement street, when a street name is used twice in the same post town
          double_dependent_locality:
            maxLength: 35
            minLength: 0
            type: string
            description: Used to supplement Dependant Locality, when the dependant locality exists twice in the same locality
          organisation_name:
            maxLength: 60
            minLength: 0
            type: string
            description: The name of the organisation at the address
          post_town:
            maxLength: 35
            minLength: 0
            type: string
            description: The town of the delivery point of the address
          postcode:
            maxLength: 8
            minLength: 5
            type: string
            description: A UK postcode
          street:
            maxLength: 80
            minLength: 0
            type: string
            description: The street of the address
          sub_building_description:
            maxLength: 40
            minLength: 0
            type: string
            description: Used to identify a specific building when a premise is split into individual units
          uprn:
            minimum: 1
            type: integer
            format: int64
            description: The Unique Property Reference Number of the address
    PartyDetails:
      required:
      - type
      type: object
      description: Details of the party that apply to all party types
      properties:
        type:
          type: string
          description: The overall type of the party (`PRIVATE_INDIVIDUAL` - A singular person `UK_COMPANY` - A company that was incorporated/registered in the UK `OVERSEAS_COMPANY` - A company that was first incorporated outside the UK `OTHER_ORGANISATION` - Any other organisation, e.g. a charity `UNKNOWN` - The type of the party is unknown)
          enum:
          - PRIVATE_INDIVIDUAL
          - OTHER_ORGANISATION
          - OVERSEAS_COMPANY
          - UK_COMPANY
          - UNKNOWN
      discriminator:
        propertyName: type
    PoBoxAddress:
      required:
      - number
      - post_town
      - postcode
      type: object
      description: An address of a PO Box
      allOf:
      - $ref: '#/components/schemas/AddressDetails'
      - type: object
        properties:
          care_of_name:
            maxLength: 200
            minLength: 0
            type: string
            description: The care of name to address correspondence to
          number:
            maxLength: 20
            minLength: 0
            type: string
            description: The number of the PO Box
          post_town:
            maxLength: 35
            minLength: 0
            type: string
            description: The town/city of the PO Box
          postcode:
            maxLength: 8
            minLength: 5
            type: string
            description: The postcode of the PO Box
    ErrorResponse:
      type: object
      description: Wrapper for any error responses
      properties:
        type:
          type: string
          format: uri
          example: https://landregistry.github.io/bgtechdoc/problems/global#bad-request
        title:
          type: string
          example: Bad Request
        status:
          type: integer
          format: int32
          example: 400
        detail:
          type: string
          example: The request is invalid or malformed.
        instance:
          type: string
          format: uri
        code:
          type: string
          example: ignore me
        errors:
          type: array
          description: A list of all errors generated
          items:
            $ref: '#/components/schemas/ProblemDetails'
    OverseasCompany:
      required:
      - incorporation_territory
      - organisation_name
      type: object
      description: A party object to capture infomation about an overseas company
      allOf:
      - $ref: '#/components/schemas/PartyDetails'
      - type: object
        properties:
          company_number:
            maxLength: 30
            minLength: 0
            type: string
            description: The UK Company Number or UK LLC number
          organisation_name:
            maxLength: 366
            minLength: 0
            type: string
            description: Full name registered at Companies House or Company name as incorporated in its state of origin
          incorporation_territory:
            maxLength: 254
            minLength: 0
            type: string
            description: The territory, country or place where the company was first incorporated
    AmountDetails:
      type: object
      description: A type of TransactionDetails that captures the value of the transaction
      allOf:
      - $ref: '#/components/schemas/TransactionDetails'
      - type: object
        properties:
          value:
            minimum: 0
            description: The value associated with the transaction in pounds
            type: integer
            format: int32
          value_band:
            $ref: '#/components/schemas/ValueBand'
          full_value_of_property_band:
            $ref: '#/components/schemas/ValueBand'
          full_value_of_property:
            type: integer
            format: int32
            description: Full value of the property in the title(s) in pounds
          outstanding_charge:
            type: integer
            format: int32
            description: Value in pounds of any outstanding charge if applicable
    ApplicationLodger:
      description: Information about the person lodging the application (This is usually the conveyancer lodging on behalf of an individual)
      required:
      - email
      - type
      type: object
      properties:
        email:
          maxLength: 254
          minLength: 0
          pattern: .+@.+
          type: string
          description: The email address of the application lodger
          example: me@site.co.uk
        telephone:
          maxLength: 50
          minLength: 0
          type: string
          description: A telephone number that can be used to contact the person lodging the application
          example: '+440000000000'
        type:
          type: string
          description: '* `CONVEYANCER` - The user submitting the application is a conveyancer or acting on behalf of a conveyancer

            * `NON_CONVEYANCER` - The user submitting the application is not a conveyancer'
          enum:
          - CONVEYANCER
          - NON_CONVEYANCER
    ProblemDetails_2:
      required:
      - detail
      - type
      description: Detailed information about an error
      type: object
      properties:
        type:
          type: string
          description: The type of error received
          example: L2_MDREF_ERROR
        detail:
          type: string
          description: A longer description about the type of error received
          example: The MDref included in the request does not exist
        pointer:
          type: string
          description: A JSON pointer to the location in the JSON payload that caused the error (optional)
          example: /data/transaction/t1/mdref
    SubstantiveApplicationData_2:
      required:
      - customer_reference
      - application_lodger
      - submission_warning_understood
      - titles
      - transactions
      - type
      type: object
      description: The data required to capture an application
      properties:
        additional_provider_filter:
          type: string
          description: A value that can be used to subsequently retrieve request responses based upon high level grouping
          maxLength: 50
          minLength: 0
          pattern: ^\w*$
        addresses:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Address'
          description: A map of address references to addresses
        applicants:
          type: array
          description: The party or parties who the application is being submitted for.
          items:
            allOf:
            - $ref: '#/components/schemas/PartyReference'
            description: The party or parties who the application is being submitted for.
        application_lodger:
          $ref: '#/components/schemas/ApplicationLodger_2'
        customer_reference:
          type: string
          description: A short name/reference a customer has given to the application
          maxLength: 25
          minLength: 0
        disagree_with_validation_results:
          type: array
          description: A list of instances for which the user disagrees with validation errors
          items:
            $ref: '#/components/schemas/ValidationDisagreement'
        documents:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/DocumentDetails_2'
          description: A map of document references to documents
        jp1_reference:
          type: string
          description: The JP1 reference to use when removing a JP1 restriction
          maxLength: 7
          minLength: 7
          pattern: ^([a-zA-Z0-9]*)$
        parties:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Party'
          description: A map of party references to parties
        submission_warning_understood:
          type: boolean
          description: 'Setting this value to true notes you have understood the following: <br>**WARNING** <br>If you dishonestly enter information or make a statement that you know is, or might be, untrue or misleading, and intend by doing so to make a gain for yourself or another person, or to cause loss or the risk of loss to another person, you may commit the offence of fraud under section 1 of the Fraud Act 2006, the maximum penalty for which is 10 years’ imprisonment or an unlimited fine, or both. <br>Failure to complete this form with proper care may result in a loss of protection under the Land Registration Act 2002 if, as a result, a mistake is made in the register.  <br>Under section 66 of the Land Registration Act 2002 most documents (including this form) kept by the registrar relating to an application to the registrar or referred to in the register are open to public inspection and copying. If you believe a document contains prejudicial information, you may apply for that part of the document to be made exempt using Form EX1, under rule 136 of the Land Registration Rules 2003'
        titles:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/TitleDetails'
          description: A map of title references to titles
          maxProperties: 199
          minProperties: 1
        transactions:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Transaction_2'
          description: A map of transaction references to transactions
          minProperties: 1
        type:
          type: string
          description: The type of application to submit
          enum:
          - REGISTER_UPDATE
          - TRANSFER_OF_PART
          - DISPOSITIONARY_FIRST_LEASE
          - REMOVE_JP1
    OtherConveyancer_2:
      required:
      - address_reference
      - conveyancer_reference
      - full_name
      type: object
      description: Information about another conveyancer (who is not the lodging conveyancer) representing a party on the application
      properties:
        address_reference:
          type: string
          description: Reference to the conveyancer's registered address
          minLength: 1
        conveyancer_reference:
          maxLength: 25
          minLength: 0
          type: string
          description: The conveyancer's reference
          example: party_1
        full_name:
          maxLength: 200
          minLength: 0
          type: string
          description: The conveyancer's full name
          example: John Doe
    PartyRole_2:
      required:
      - role
      - party_reference
      type: object
      description: Information about the roles and capacities for a specific party
      properties:
        attorneys:
          type: array
          description: List of references to parties who hold power of attorney for this party
          items:
            type: string
            description: List of references to parties who hold power of attorney for this party
          maxItems: 4
          minItems: 0
        capacity:
          type: string
          description: 'This enum describes the capacity in which a party is acting in a transaction. The possible values are:

            * `REGISTERED_PROPRIETOR` - The party is acting as a registered proprietor.

            * `ENTITLED_REGISTERED_PROPRIETOR` - The party is acting as entitled to be registered as the proprietor.

            * `ADDITIONAL_TRUSTEE` - The party is acting as an additional trustee.

            * `INSOLVENCY_PRACTITIONER` - The party is acting as an insolvency practitioner.

            * `RECEIVER` - The party is acting as receiver.

            * `DEPUTY` - The party is acting as a deputy.

            * `GUARDIAN` - The party is acting as a guardian.

            * `PERSONAL_REPRESENTATIVE` - The party is acting as a personal representative.

            * `NOT_REQUIRED` - Capacity is not required for the party role (at time of capture by land registry policy).

            * `null` - The capacity value is not known for the party.

            '
          enum:
          - REGISTERED_PROPRIETOR
          - ENTITLED_REGISTERED_PROPRIETOR
          - ADDITIONAL_TRUSTEE
          - INSOLVENCY_PRACTITIONER
          - RECEIVER
          - DEPUTY
          - GUARDIAN
          - PERSONAL_REPRESENTATIVE
          - NOT_REQUIRED
        party_reference:
          $ref: '#/components/schemas/PartyReference'
        role:
          type: string
          description: The role the party is performing on the transaction
          enum:
          - ATTORNEY
          - TRANSFEROR
          - TRANSFEREE
          - LENDER
          - BORROWER
          - PERSONAL_REPRESENTATIVE
          - ASSENTOR
          - LANDLORD
          - TENANT
    PrivateIndividual_2:
      required:
      - surname
      - type
      type: object
      description: A party object to capture infomation about a private individual
      allOf:
      - $ref: '#/components/schemas/PartyDetails'
      - type: object
        properties:
          forenames:
            maxLength: 366
            minLength: 0
            type: string
            description: Forenames of a private individual
            example: John
          surname:
            maxLength: 366
            minLength: 0
            type: string
            description: The surname of a private individual
            example: Doe
    UKCompany_2:
      required:
      - organisation_name
      type: object
      description: A party object to capture infomation about an UK company
      allOf:
      - $ref: '#/components/schemas/PartyDetails'
      - type: object
        properties:
          company_number:
            maxLength: 30
            minLength: 0
            type: string
            description: The UK Company Number or UK LLC number
          organisation_name:
            maxLength: 366
            minLength: 0
            type: string
            description: Full name registered at Companies House or Company name as incorporated in its state of origin
    Transaction_2:
      required:
      - fee_in_pence
      - type
      - priority
      type: object
      description: The object representing a transaction to apply to specific titles on the application
      properties:
        details:
          oneOf:
          - $ref: '#/components/schemas/AmountDetails'
          - $ref: '#/components/schemas/Charge'
          - $ref: '#/components/schemas/Discharge'
          - $ref: '#/components/schemas/Transfer_2'
        documents:
          type: array
          description: List of document references that are linked to this transaction
          items:
            $ref: '#/components/schemas/DocumentReference'
        priority:
          maximum: 20
          minimum: 1
          type: integer
          description: The priority application the transactions should be processed in. Multiple transactions cannot have the same priority.
          format: int32
        fee_in_pence:
          type: integer
          minimum: 0
          format: int32
          description: The fee (in pence) for the transaction
        relates_to_new_title:
          type: boolean
          description: Indicates if the transaction applies to the new title number that is created during application processing. Applies only for TRANSFER_OF_PART and DISPOSITIONARY_FIRST_LEASE application types.
        party_roles:
          type: array
          description: A list of roles/capacities for each party relating to the transaction
          items:
            $ref: '#/components/schemas/PartyRole_2'
        type:
          type: string
          description: The HM Land Registry transaction type code
          enum:
          - ADV1
          - ADV2
          - AGN
          - AML
          - APLC
          - APLCO
          - APLM
          - APR
          - APT
          - ARC
          - ASSTTP
          - ASTC
          - ASTT
          - ATP
          - ATR
          - AUN
          - BKN
          - BKR
          - C
          - CAG
          - CANI
          - CANR
          - CANU
          - CBKN
          - CBKR
          - CCT
          - CH2
          - CH3
          - CHOA
          - CHOU
          - CHR
          - CN
          - CNC
          - CNL
          - COA
          - COAC
          - CON
          - COP
          - CPD
          - CPVK
          - CPVU
          - CTD
          - CUR
          - DB
          - DCLN
          - DCLV
          - DEB
          - DFL1
          - DFL3
          - DFL4
          - DFL5
          - DFT
          - DIS
          - DJP
          - DL
          - DMR
          - DOG
          - DP
          - DSP
          - DSS
          - DTL
          - EX1
          - EX3
          - EXR
          - HR
          - JP1
          - LCATCO
          - LCBD
          - LCBET
          - LCBN
          - LCF
          - LCMRE
          - LCOE
          - LCOF
          - LCSD
          - LCSDM
          - LCSOL
          - LCSOLM
          - LCSDWT
          - LCSDMWT
          - MDR
          - NCT
          - NDC
          - NFR
          - NOE
          - NOL
          - NOPSC
          - NPR
          - NRT
          - PC
          - PER
          - PRO
          - RC
          - RE
          - RFN
          - RHR
          - ROCA
          - ROCC
          - ROCU
          - RNT
          - ROE
          - RRC
          - RRD
          - RTM
          - RUN
          - RXL
          - RXN
          - RXS
          - SBC
          - SHO
          - SJT
          - SOT
          - STVC
          - STVL
          - T
          - TNV
          - TNVTP
          - TOC
          - TOSNV
          - TOSNVTP
          - TOSTP
          - TOSV
          - TPS
          - TPSTP
          - TRC
          - TRM
          - TSCNV
          - TSCNVTP
          - TSCTP
          - TSCV
          - TTP
          - TVR
          - TVRTP
          - UNN
          - UPT
          - VC
          - VLAN
          - VLAP
          - VLUN
          - VO
          - VOC
          - VOCA
          - VOCU
          - VOE
          - VOEA
          - VOEU
          - VRC
          - WCT
          - WDR
        title_references:
          type: array
          description: A list of titles that affect or relate to this transaction
          items:
            maxLength: 9
            minLength: 0
            type: string
    DocumentDetails_2:
      required:
      - document_id
      - document_metadata
      - type
      type: object
      description: The details about an uploaded document
      properties:
        companies_house_certification:
          type: boolean
          description: 'Required when document is of type `CERT_REG_CH`.

            Supplying a value of `true` means the customer confirms that the charge lodged here

            * has been filed at Companies House

            * related to the accompanying certificate of registration.'
        document_id:
          type: string
          description: The id of the document from the document upload request
          example: 12345678-1234-1234-1234-123456789abc
          minLength: 1
        document_metadata:
          $ref: '#/components/schemas/DocumentMetadata'
        type:
          type: string
          description: The HM Land Registry document type
          enum:
          - ABSTRACT
          - ACKAPU
          - ADJAR
          - ADJREVU
          - ADMIN_LTRS
          - ADV1
          - ADV2
          - AGREEMENT
          - AMS1
          - AN1
          - AP1
          - APPL_FRM
          - APPOINTMENT_OF_TRUSTEE
          - AS1
          - AS2
          - AS3
          - ASSENT
          - ASSIGNMENT
          - BIRTH_CERT
          - BOUND_PLAN
          - CC
          - CCD
          - CERT_CON_CH
          - CERT_DEATH
          - CERT_RED_EX
          - CERT_REG_CH
          - CERT_S89
          - CH1
          - CH2
          - CH3
          - CHARGE
          - CHARG_ORD
          - CIVIL_CERT
          - CM2
          - CM5
          - CM6
          - CN1
          - CNFRM_DTMN_LTA_LGHA
          - CNFRM_NO_DEED_SUR
          - CNFRM_NO_LTA_LGHA
          - CNSNT_ADMIN_COURT
          - COMP_DOC
          - CONSENT
          - CONST_COMP
          - CONTR_RES
          - CONVEYANCE
          - CONV_CERT
          - CONV_CERT_DEATH
          - CORRES
          - COR_CERT
          - COSR
          - COURT_ORD
          - CRALIQ
          - CRED_DEC
          - CRED_RES
          - CRT_FORM_7
          - CRWALIQ
          - DB
          - DEATH_CERT
          - DEBENTURE
          - DEC_AB_NULL_MARR
          - DEED
          - DEED_POLL
          - DEED_REG_DIS
          - DEED_SUR
          - DISCHARGE
          - DJP
          - DL
          - DOP
          - DRIVING_LICENCE
          - DS1
          - DS2
          - DS3
          - DS3_SHORT
          - EOB
          - EOL
          - EVD_NO_RENEW
          - EVIDENCE
          - EV_OV_NAME_CHANGE
          - EX1
          - EX1A
          - EX3
          - FORM_600
          - FORM_600CH
          - FORM_DI
          - FORM_JO
          - FR1
          - GENDER_CERT
          - GVD
          - HR1
          - HR2
          - HR4
          - ID1
          - ID2
          - ID3
          - ID4
          - ID5
          - ID_EV
          - ID_FRM
          - INDENTURE
          - JP1
          - K17_OR_K18
          - K20
          - K22
          - K3
          - K4
          - LEASE
          - LICENCE
          - LIQ01
          - LIQ_CERT_1
          - LIQ_CERT_2
          - LIQ_CERT_3
          - LNDLD_CNSNT
          - LONP
          - LR_CORRES
          - LTT
          - MARR_CERT
          - MEMO
          - MORD
          - MRTG_DEED
          - NOD
          - ORD_DISS_NULL_CP
          - PASSPORT
          - PLAN
          - POA
          - PROBATE
          - PSS1
          - REVERS_INT
          - RN
          - RX1
          - RX2
          - RX3
          - RX4
          - RXC
          - RXCD
          - SC
          - SDLT
          - SEV
          - SHRF_RTN
          - SIDE_LTR
          - SOT
          - SSALIQ
          - STAT_DEC
          - SUB_CHARGE
          - TP1
          - TP2
          - TR1
          - TR2
          - TR4
          - TR5
          - TRANSFER
          - TRUSTEE_RESOLUTION
          - UN1
          - UN2
          - UN3
          - UN4
          - UT1
          - VAR_CHARGE
          - VAR_COV
          - VAR_EAS
          - VAR_LEASE
          - VESTING_ORDER
          - WCT
          - WINDING_UP
          - WIT_STATE
    UnknownParty_2:
      required:
      - freeformat_name
      - type
      type: object
      description: A party object to capture infomation about an unknown party
      allOf:
      - $ref: '#/components/schemas/PartyDetails'
      - type: object
        properties:
          freeformat_name:
            maxLength: 366
            minLength: 0
            type: string
            description: The name of the party, when type is UNKNOWN
    ValueBand_2:
      required:
      - lower_value_band
      type: object
      description: "A range the value of the transaction falls between. Valid bands are:\n* `0 - 100000`\n * `100001 - 200000`\n* `200001 - 500000`\n* `500001 - 1000000`\n* `1000001 +`"
      properties:
        lower_value_band:
          minimum: 0
          type: integer
          format: int32
          description: The lower value in the band in pounds
        upper_value_band:
          minimum: 100000
          type: integer
          format: int32
          description: The upper value in the band in pounds. Not required when lower_value_band equals 1000001
    Transfer_2:
      required:
      - additional_provisions_code
      - consideration_type
      - date
      - title_guarantee_code
      type: object
      description: Details about a transfer transaction
      allOf:
      - $ref: '#/components/schemas/TransactionDetails'
      - type: object
        properties:
          additional_provisions:
            type: string
            description: The provided additional provisions
            maxLength: 10000
            minLength: 0
          additional_provisions_code:
            type: string
            description: '* `NO_PROVISIONS` - There are no additional provisions

              * `MANUAL_TR1_FORM` - The details of the additional provision are on the TR1 form

              * `DETAILS_ENTERED` - The details have been provided with the submission'
            enum:
            - NO_PROVISIONS
            - MANUAL_TR1_FORM
            - DETAILS_ENTERED
          consideration_description:
            maxLength: 200
            minLength: 0
            type: string
            description: The consideration, when a consideration_type of OTHER is specified
          consideration_type:
            type: string
            description: '* `MONETARY_VALUE` - The sum received by the transferor from the transferee for the property

              * `NO_MONETARY_VALUE` - The transfer is not for money or anything that has a monetary value

              * `OTHER` - to be specified in consideration_description'
            enum:
            - MONETARY_VALUE
            - NO_MONETARY_VALUE
            - OTHER
          date:
            type: string
            format: date
            description: The date of the transfer, in the format yyyy-MM-dd
          title_guarantee_code:
            type: string
            description: '* `FULL` - the transferor(s) guarantee, to the best of their knowledge, that there are no financial charges/encumbrances (such as mortgages) or other third party interests (such as rights of way/leases) which affect the property other than those already revealed to the transferee(s).

              * `LIMITED` - a more restricted set of promises by the transferor(s). This guarantees that the transferor(s) have not themselves created, or allowed to be created, any charge, encumbrance or third party interest that still exists at the date of the transfer'
            enum:
            - FULL
            - LIMITED
          trust_declaration_type:
            type: string
            description: '* `JOINT_TENANTS` - The transferees are joint tenants.

              * `TENANTS_IN_COMMON` - The transferees are tenants in common

              * `TRUST_DETAILS` - Details of the trust declaration will be provided in the application

              * `FORM_JO` - The trust details will be provided in an attached FormJO document'
            enum:
            - JOINT_TENANTS
            - TENANTS_IN_COMMON
            - TRUST_DETAILS
            - FORM_JO
          trust_details:
            maxLength: 300
            minLength: 0
            type: string
            description: Details of the trust declaration, to be provided when trust_declaration_type is TRUST_DETAILS
          value:
            minimum: 0
            type: integer
            format: int32
            description: Transaction value of the equity being transferred (including VAT if applicable) in pounds
          value_band:
            $ref: '#/components/schemas/ValueBand_2'
          full_value_of_property_band:
            $ref: '#/components/schemas/ValueBand_2'
          full_value_of_property:
            type: integer
            format: int32
            description: Full value of the property in the title(s) in pounds
          outstanding_charge:
            type: integer
            format: int32
            description: Value in pounds of any outstanding charge if applicable
    AddressReference_2:
      maxLength: 50
      minLength: 1
      pattern: ^[A-Za-z0-9-?,_]+$
      type: string
      description: Unique identifier for addresses, used to reference addresses from elsewhere in the spec
      example: address_reference_1
    UkAddress_2:
      type: object
      description: A UK postal address
      required:
      - postcode
      - post_town
      - building_description
      allOf:
      - $ref: '#/components/schemas/AddressDetails'
      - type: object
        properties:
          building_description:
            maxLength: 85
            minLength: 0
            type: string
            description: Name of residential or commercial premise
          care_of_name:
            maxLength: 200
            minLength: 0
            type: string
            description: The care of name to address correspondence to
          county:
            type: string
            description: UK County
            maxLength: 50
            minLength: 0
          department_name:
            maxLength: 60
            minLength: 0
            type: string
            description: Used to supplement Organisation Name to identify a department within the organisation
          dependent_locality:
            maxLength: 35
            minLength: 0
            type: string
            description: Used when the same thoroughfare or street name reoccurs in a Post town
          dependent_street:
            maxLength: 80
            minLength: 0
            type: string
            description: Used to supplement street, when a street name is used twice in the same post town
          double_dependent_locality:
            maxLength: 35
            minLength: 0
            type: string
            description: Used to supplement Dependant Locality, when the dependant locality exists twice in the same locality
          organisation_name:
            maxLength: 60
            minLength: 0
            type: string
            description: The name of the organisation at the address
          post_town:
            maxLength: 35
            minLength: 0
            type: string
            description: The town of the delivery point of the address
          postcode:
            type: string
            description: A UK postcode
            minLength: 1
            pattern: ^([Gg][Ii][Rr] ?0[Aa]{2})|([A-Za-z]{1,2}[0-9][0-9A-Za-z]? ?[0-9][A-Za-z]{2})$
          street:
            maxLength: 80
            minLength: 0
            type: string
            description: The street of the address
          sub_building_description:
            maxLength: 40
            minLength: 0
            type: string
            description: Used to identify a specific building when a premise is split into individual units
          uprn:
            minimum: 1
            type: integer
            format: int64
            description: The Unique Property Reference Number of the address
    PoBoxAddress_2:
      required:
      - number
      - post_town
      - postcode
      type: object
      description: An address of a PO Box
      allOf:
      - $ref: '#/components/schemas/AddressDetails'
      - type: object
        properties:
          care_of_name:
            maxLength: 200
            minLength: 0
            type: string
            description: The care of name to address correspondence to
          number:
            maxLength: 20
            minLength: 0
            type: string
            description: The number of the PO Box
          post_town:
            maxLength: 35
            minLength: 0
            type: string
            description: The town/city of the PO Box
          postcode:
            type: string
            description: The postcode of the PO Box
            minLength: 1
            pattern: ^([Gg][Ii][Rr] ?0[Aa]{2})|([A-Za-z]{1,2}[0-9][0-9A-Za-z]? ?[0-9][A-Za-z]{2})$
    OverseasCompany_2:
      required:
      - incorporation_territory
      - organisation_name
      - roe_id_exempt
      - type
      type: object
      description: A party object to capture infomation about an overseas company
      allOf:
      - $ref: '#/components/schemas/PartyDetails'
      - type: object
        properties:
          company_number:
            maxLength: 30
            minLength: 0
            type: string
            description: The UK Company Number or UK LLC number
          organisation_name:
            maxLength: 366
            minLength: 0
            type: string
            description: Full name registered at Companies House or Company name as incorporated in its state of origin
          incorporation_territory:
            maxLength: 254
            minLength: 0
            type: string
            description: The territory, country or place where the company was first incorporated
          roe_id:
            type: string
            description: Registration of Overseas Entity ID
            pattern: OE\d{6}
          roe_id_exempt:
            type: boolean
            description: Set to true if the company is exempt from providing a ROE ID
    ValidationDisagreement:
      description: Fields to describe which validation results are contested and why
      properties:
        comment:
          type: string
          description: A free text description of the disagreement
          maxLength: 250
          minLength: 1
        reason:
          type: string
          description: The reason for disagreeing with the validation result
          enum:
          - DISAGREE_WITH_REGISTER
          - HMLR_DATA_INCORRECT_OR_OUTDATED
          - EXCEPTION_NOT_COVERED_BY_BUSINESS_RULES
        validation_pointer:
          type: string
          description: A JSON pointer to the contested field in the submission payload. Should match the 'pointer' returned within a status API error
          maxLength: 250
          minLength: 1
        validation_type:
          type: string
          description: The type of validation being contested. Should match the 'type' returned within a status API error
          maxLength: 250
          minLength: 1
      required:
      - comment
      - reason
      - validation_pointer
      - validation_type
    ApplicationLodger_2:
      description: Information about the person lodging the application (This is usually the conveyancer lodging on behalf of an individual)
      required:
      - email
      - type
      type: object
      properties:
        email:
          maxLength: 254
          minLength: 0
          pattern: ^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$
          type: string
          description: The email address of the application lodger
          example: me@site.co.uk
        telephone:
          maxLength: 50
          minLength: 0
          type: string
          description: A telephone number that can be used to contact the person lodging the application
          example: '+440000000000'
        type:
          type: string
          description: '* `CONVEYANCER` - The user submitting the application is a conveyancer or acting on behalf of a conveyancer

            * `NON_CONVEYANCER` - The user submitting the application is not a conveyancer'
          enum:
          - CONVEYANCER
          - NON_CONVEYANCER
  securitySchemes:
    basicAuth:
      scheme: basic
      type: http
x-refined-from:
- hm-land-registry-submit-application-to-change-the-register-v0.3-openapi.json
- hm-land-registry-submit-application-to-change-the-register-v1.0-openapi.json
